[user]
	name = Yaroslav Vorobev
	email = zekfad@znnme.eu.org
	signkey = C164804976DB9411
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = !pass-git-helper $@
[commit]
	gpgsign = true
